body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E5ECF6;


}

#HomeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-family: 'Roboto', sans-serif;
    text-decoration: solid;
}

#intro {
    text-align: center;
}



.graph-container {
    width: 90%; 
    margin: 0 auto; 
    border-radius: 20px; /* Rounds Corners */
    overflow: hidden; /* Hides content outside curved corners */
    margin-bottom: 50px;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

#graph-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */

}

.changeable_graph_container {
    width: 90%; 
    margin: 0 auto; 
    border-radius: 20px; 
    overflow: hidden; 
    transition: box-shadow 0.3s ease; 
}

#changeable_graph_container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}



#plotButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    overflow: hidden; 
}

/*----------------------------------------------------------------------------------------------------------------------Top 10 Printers*/

#EfficiencySection {
    background-color: white; 
    padding: 10px; 
    margin-top: 20px; 
    border-radius: 20px; 
    width: 85%; 
    margin-left: auto; 
    margin-right: auto; 
    transition: box-shadow 0.3s ease; 

    
}

#EfficiencySection:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

/* Most Effective Printers Analysis */
#MostEffectivePrintersAnalysis {
    margin-top: 50px;
    margin-bottom: 50px;
}

#Top10Printers_TopText {
    text-align: center;
}

#Top10Printers_TopText h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

#Top10Printers_TopText p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

/* Top 10 Printers Table */
#Top10PrintersTable {
    margin-top: 20px;
    margin-left: auto;  
    margin-right: auto; 
    width: 90%; 
    background-color: white; 
    border-bottom: 2px solid white; 
}

#Top10PrintersTable table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#Top10PrintersTable th, #Top10PrintersTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Roboto', sans-serif;

}

#Top10PrintersTable th {
    background-color: #f2f2f2;
}


#EfficiencyExplanation {
    margin-top: 20px;

}

#EfficiencyExplanation p {
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    
}


/* -----------------------------------------------------------------------------------------------------------Print Outliers Analysis */
#PrintOutliersAnalysis {
    background-color: white; 
    padding: 10px; 
    margin-top: 40px; 
    border-radius: 20px; 
    width: 85%; 
    margin-left: auto; 
    margin-right: auto; 
    transition: box-shadow 0.3s ease; 
}

#PrintOutliersAnalysis:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

#OutliersTopText {
    text-align: center;
}

#OutliersTopText h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

#OutliersTopText p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Outliers Table */
#OutliersTable {
    margin-top: 20px;
    margin-left: auto;  /* Center the table*/
    margin-right: auto; /* Center the table*/
    width: 90%; /* Set the width of the table */
    background-color: white; /* Set the background color to white */
    border-bottom: 2px solid white; 
}

#OutliersTable table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#OutliersTable th, #OutliersTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

#OutliersTable th {
    background-color: #f2f2f2;
}