<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="delay_time; URL=printer_performance_analysis.html" />
    <title>Print Job Data Analysis Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css') }}">

</head>
<body>
    <div id="LINK">
        <h1><a href="/printer_performance_analysis">Printer Performance Analysis</a></h1>
    </div>




</body>
</html>
