<!-- templates/print_frequency_analysis.html -->
<!DOCTYPE html>
<html lang="en">

<body>
    <div id="textContainer">
        <div id="PrintFrequencyAnalysis">
            <h1>The frequency of prints throughout the day.</h1>
        </div>
        <div id="description">
            <p>Through this analysis, We can see peak and ofpeak times throughout the day.</p>
        </div>
    </div>
</body>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Frequency Analysis</title>
    {{ plot|safe }}
</head>


<style>
    body, html {
        height: 38%;
        margin: 0;
        padding: 0;
    }
    #textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>




</html>
